<h1>Welcome to the Game Of Life</h1>

<form action="/" method="POST">

  <label for="choose game">Choose Your Game</label>
  <select id="game" name="game">
    <option value="blinker">Blinker</option>
    <option value="toad">Toad</option>
    <option value="glider">Glider</option>
    <option value="lightweight_spaceship">Lightweight_spaceship</option>
    <option value="random">Random</option>
  </select>

  <button type="submit" value="game to play">SEE BOARD</button>

</form>