<h1>the game of life</h1>
<div class="center_container" id="home">
  <form action="/" method="POST">

    <label for="choose game">choose your game</label>
    <select id="game" name="game">
      <option value="blinker">blinker</option>
      <option value="toad">toad</option>
      <option value="glider">glider</option>
      <option value="lightweight_spaceship">lightweight spaceship</option>
      <option value="random">random</option>
    </select>

    <button type="submit" value="game to play">see board</button>

  </form>
</div>