<h1>Game Of Life</h1>
<div id="board">
  <% @local_game.world.board.each do |array| %>
    <% array.each do |cell| %>
      <div class="cell" style="background-color: <%= cell.state %>">
      </div>
    <% end %>
  <% end %>
</div>