body {
  background-color: rgba(22,47,115,0.5);
}
.cell {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  float: left;
}
#board {
  margin: 0 auto;
  width: 400px;
}
h1 {
  font-family: monospace;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: gold;
  margin: 5px auto 30px auto;
}
.button {
  margin: 30px 0px 30px 20px;
  width: 100px;
  display: inline-block;
}
.button#stop {
  margin-left: 90px;
}
body, select, label, button {
  font-family: monospace;
  font-size: 24px;
  color: white;
}
button, a {
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: blue;
  text-decoration: none;
}
button:hover, a:hover {
  background-color: rgba(22,47,115,0.9);
  cursor: pointer;
}
.center_container {
  margin: 0 auto;
  padding: 20px;
  width: 600px;
}
.center_container#home {
  background-color: rgba(22,47,115,0.3);
}
.left {
  width: 280px;
  margin: 0 auto 10px auto;
  /*background-color: rgba(22,47,115,0.3);*/
}