.cell {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  float: left;
}
#board {
  margin: 0 auto;
  width: 900px;
  height: 900px;
}
h1 {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  color: gold;
  margin: 5px auto;
}